*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    width: 80%;
    margin-top: 100px;
}

.wrapper .header{
    background-color: #304674;
    color: white;
    padding: 30px;
}

.wrapper .header h1{
    margin-bottom: 20px;
}

.converter{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 40px;
}

.amount-section{
    width: 40%;
}

.converter .amount-section label{
    font-size: 15px;
    color: gray;
}

.converter .amount-section input{
    height: 50px;
    width: 350px;
}
 
.icon{
    width: 10%;
    color:#75bfec;
    margin-left: 85px;
    margin-top: 20px;
}

.converted-to-section{
    width: 40%;
}
.converter .converted-to-section label{
    font-size: 15px;
    color: gray;
}

.converter .converted-to-section input{
    height: 50px;
    width: 350px;
}

.input-wrapper{
    display: flex;
}

.select-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 80px;
    background: #304674;
}

.select-box p{
    width: auto;
    color: white;
    background: #304674;
}

.select-box img{
    max-width: 15px;
    height: 15px;
    margin-right: 5px;
}

button{
    float: right;
    width: 100px;
    height: 60px;
    border-radius: 50%;
    font-size: 14px;
    background-color: #304674;
    margin-right: 80px;
    cursor: pointer;
    border: none;
}

